#intervention-div {
    margin-left: 17%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  .header img {
    height: 30px;
    margin-right: 10px;
  }
  
  .header span {
    font-weight: bold;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }