#intervention-div {
    margin-left: 17%;
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 15%;
  text-align: center;
}

.modal button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: red;
  font-weight: bolder;  
  font-size: 1.3em;
  margin-left: 220px;
}

.modal p {
  font-size: 18px;
  margin: 5px;
}

  .header input {
    width: 300px;
    border-radius: 15px;
  }
  .user-info img {
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .user-info span {
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  .header img {
    height: 30px;
    margin-right: 10px;
  }
  
  .header span {
    font-weight: bold;
  }
  
  table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  #intervention-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #intervention-table th, .intervention-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  #table-img1 {
    height: 150px;
    width: 600px;
  }
  #intervention-table th {
    background-color: #f2f2f2;
  }
  
  #intervention-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  .table-date {
    width: 200px;
  }
  #crud-btns {
    display: flex;
    flex-direction: column;
    height: 8vh;
    gap: 20px;
    background-color: #244873;
    cursor: pointer;
  }
  #crud-btns button {
    width: 100px;
    color: black;
    padding: 1% 0;
  }
  #crud-btns:hover {
    color: white;
  }
  #crud-btns button:hover {
    color: white;
  }
  .edit-status {
    background-color: #244873;
    width: 40%;
    margin-top: 20%;
    margin-right: 10%;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #244873;
    color: white;
    border: 1px solid #244873;
    margin: 0 5px;
    cursor: pointer;
    width: 7%;
  }
  #page-number {
    width: 3%;

    padding: auto
  }
  .pagination button:hover {
    background-color: #244873;
  }
  
  .pagination button:disabled {
    background-color: #dddddd;
    color: #666;
    cursor: not-allowed;
  }
  .loading {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    color: red;
  }


  